body {
    background-color: white;
}

nav {
font-size: 20pt;
font-weight: bold;
position:sticky;
color: black;
background: #000111;
}

h1 {
    color: black;
    margin-left: 20px;
}

div {

}

.container {
  border: thin black solid;
  margin-top: 5%;
  height: 1000px;
}

.blurb {
  border: thin red solid;
}
